<mat-card>
  <mat-card-content>
    <app-auth-form (formSubmitted)="onFormSubmitted($event)" [mode]="mode()" />
  </mat-card-content>
  <mat-card-footer class="auth-modal__footer">
    @if (mode() === "login") {
    <app-auth-modal-footer
      [buttonLabel]="'Create an account'"
      [paragraphLabel]="'Not registered?'"
      (clicked)="modeChanged()"
    />
    } @else {
    <app-auth-modal-footer
      [buttonLabel]="'Sign In'"
      [paragraphLabel]="'Already registered?'"
      (clicked)="modeChanged()"
    />
    }
  </mat-card-footer>
</mat-card>
