<mat-form-field class="select__full">
  <mat-label>{{ label() | firstLetterCapitalized }}</mat-label>
  <mat-select [formControlName]="controlName()">
    @for (option of options(); track $index) {
    <mat-option [value]="option.value">{{ option.displayName }}</mat-option>
    }
  </mat-select>
</mat-form-field>
