<article class="event-detail__article">
  @if (currentEvent(); as event) {
  <h2>{{ event.title }}</h2>
  <img
    ngSrc="{{ event.image }}"
    alt="{{ event.title }}"
    width="568"
    height="378.95"
    fetchpriority="high"
    priority
  />
  <p>{{ event.description }}</p>
  <section class="event-detail__actions">
    <button mat-raised-button color="primary" (click)="onEdit(event)">
      Edit
    </button>
    <button mat-raised-button color="warn" (click)="onDelete(event.id)">
      Delete
    </button>
  </section>
  } @else {
  <mat-spinner />
  }
</article>
