:host {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}

.event-detail {
  &__article {
    display: grid;
    place-items: center;
    width: clamp(200px, 50vw, 600px);
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
  }
}

h2,
p::first-letter {
  text-transform: capitalize;
}

img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
}
