<h2 mat-dialog-title>
  {{ data.mode === 'Create' ? 'Create Event' : 'Update Event' }}
</h2>
<div mat-dialog-content>
  <form
    class="event-form__form"
    [formGroup]="eventForm"
    (ngSubmit)="onSubmit()"
  >
    <app-input controlName="title" label="title" />
    <app-select controlName="image" label="image" [options]="destinations" />
    <app-input controlName="description" label="description" />
    @if (updatingEvent()) {
    <mat-spinner diameter="24" class="event-form__loading-spinner" />
    } @else {
    <button mat-raised-button color="primary" type="submit">
      {{ data.mode === 'Create' ? 'Create Event' : 'Update Event' }}
    </button>
    }
  </form>
</div>
