:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.events__section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.events__create-button {
  margin: 1rem;
  width: max-content;
  margin-left: auto;
}
