<section class="events__section">
  <lib-button class="events__create-button" (clicked)="openEventForm()">
    Create Event
  </lib-button>
</section>
<section class="events__section">
  <app-event-card-list [events]="events()" />
</section>
