<mat-toolbar color="primary" class="nav-bar__toolbar">
  <div>
    <span>Events Manager</span>

    <button mat-button><a routerLink="/">Home</a></button>
    @if (user()) {
    <button mat-button><a routerLink="events">Events</a></button>
    }
  </div>

  @if (user()) {
  <button mat-button (click)="logout()">Logout</button>
  } @else {
  <button mat-button (click)="openAuthModal()">Login</button>
  }
</mat-toolbar>
