:host {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-top: 40px;
  background-color: hsl(231, 48%, 48%);
  padding: 40px;
  border-radius: 4px;
}

.event-card-list {
  &__link,
  &__link:visited {
    color: #4398d9;
    text-decoration: none;
  }

  &__link:hover {
    transform: translateY(-5px);
  }
}
