@for (event of events(); track $index) {
<a [routerLink]="['/events', event.id]" class="event-card-list__link">
  <app-card>
    <app-event-list-item [event]="event" />
  </app-card>
</a>
} @empty {
<p>No events found!</p>
}
