<mat-form-field
  class="password-input__form-field"
  [formGroup]="formGroup.control"
>
  <input
    matInput
    type="password"
    placeholder="Password"
    formControlName="password"
    name="password"
  />
  @if (control.hasError("required")) {
  <mat-error>Password is required</mat-error>
  } @if (control.hasError("minlength")) {
  <mat-error>Password must be at least 8 characters long</mat-error>
  }
</mat-form-field>
