<mat-form-field class="email-input__form-field" [formGroup]="formGroup.control">
  <input matInput placeholder="Email" formControlName="email" name="email" />
  @if (control.hasError("required")) {
  <mat-error>Email is required</mat-error>
  } @if (control.hasError("email")) {
  <mat-error>Invalid email format</mat-error>
  }
</mat-form-field>
