<img
  class="event-list-item__image"
  ngSrc="{{ event.image }}"
  alt="{{ event.title }}"
  width="568"
  height="378.95"
  fetchpriority="high"
  priority
/>
<div class="event-list-item__content">
  <h2 class="event-list-item__title">{{ event.title | titlecase }}</h2>
  <p class="event-list-item__description">
    {{ event.description | firstLetterCapitalized }}
  </p>
</div>
