:host {
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.event-list-item {
  &__image {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
  }

  &__content {
    padding: 1.25rem;
    padding-left: 0;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.625rem;
  }

  &__description {
    font-size: 1rem;
    color: hsl(0, 0%, 40%);
    line-height: 1.5;
  }
}
