<form [formGroup]="authForm" class="mat-card-content" (ngSubmit)="onSubmit()">
  <app-email-input [control]="authForm.controls.email" />
  <app-password-input [control]="authForm.controls.password" />
  <button
    mat-raised-button
    color="primary"
    class="auth-form__card-button"
    type="submit"
  >
    {{ mode | titlecase }}
  </button>
</form>
